/* Application wide styles */

.console {
	-fx-font-family: Courier;
  	-fx-highlight-fill: #ffffff;
  	-fx-highlight-text-fill: #000000;
  	-fx-text-fill: ffffff;
}

.console .content {
	-fx-background-color: #000000;
}